ul {
    list-style: none !important;
}

.alphabet-nav {
    position: fixed;
    bottom: 15vh;
}

.list-group-item {
    padding: 0 !important;
    margin: 0 !important;
}

/* li.list-group-item.Africa {
    background-color: black !important;
} */