<div class="text-center">
    <div class="p-2">
        <p> <a href="">HISTORY OF ARCHITECTURE</a> </p>
    </div>
    <div class="container-fluid" style="height: 80vh;">
        <router-outlet></router-outlet>
    </div>
    <div style="height: 10vh;">
        <nav class="navbar navbar-expand-lg navbar-light shadow-5-strong px-4">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav ml-auto nav">
                    <li class="nav-item nav-text">
                        <a href="/alphabetical" class="nav-link" routerLink="alphabetical" [routerLinkActive]="['active']">alphabetical</a>
                    </li>
                    <li class="nav-item nav-text">
                        <a href="/chronological" class="nav-link" routerLink="chronological" [routerLinkActive]="['active']">chronological</a>
                    </li>
                    <li class="nav-item nav-text">
                        <a href="/location" class="nav-link" routerLink="location" [routerLinkActive]="['active']">location</a>
                    </li>
                    <li class="nav-item nav-text">
                        <a href="/programmatic" class="nav-link" routerLink="programmatic" [routerLinkActive]="['active']">programmatic</a>
                    </li>
                    <li class="nav-item nav-text">
                        <a href="/style" class="nav-link" routerLink="style" [routerLinkActive]="['active']">style</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

