h3 {
    font-family: 'Prosto One';
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    color: #171717;
}

a:link {
    text-decoration: none;
}

.nav-text {
    font-family: 'Barlow';
}

.active {
    color: green !important;
    font-weight: bolder;
}